@import 'variable';
@import 'function';

html{
    font-size: 62.5%;
}
body{
    font-size: 1.6rem;
}
.space{
    margin-top: 30px;

}
//banner
.baner{
    height: 500px;
}
.img-fluid{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
//cart
.navbar-brand{
    color: $primari-color !important;

}
.navbar-brand{
    font-size: 3rem;
}
.cart{
    margin-left:  auto;
    font-size: 3rem;
    padding: 0px 32px;
    &:hover{
        .cart-icon{

            color: $primari-color;
        }
        cursor: pointer;
        .dropdown-menu{
            display: block;
            animation: show 0.3s linear;

        }
    }
    
}
.cart-wrapper{
    min-width: 350px;
    min-height: 300px;
    max-height: 800px;
}
.cart-icon{
    color: black;
}
.dropdown-menu{
    $boder-radius: 8px;
    right: -50%;
    top: calc(100% -2px );
    left: unset;
    border-top-color: $primari-color;
    border-top-width: 2px;
    border-bottom-right-radius:$boder-radius;
    border-bottom-left-radius: $boder-radius;  
    min-width: 350px;
}
@keyframes show {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
.cart_img{
    height: 100%;
    border-style: none;
    object-fit: contain;
    width: 100%;
}
.main-header{
    background-color: $white-color;
    border-bottom: 1px solid $boder-color;
}

.personal-item{
    margin-top: 20px;
}
.nav-link{
    font-size: 1.6rem !important;
    padding-left: 1.6rem !important;
    padding-right: 1.6rem !important;
    &:hover{
        color: $primari-color !important;
    }
}
.item{
    list-style-type: none;
    font-size: 3.5rem;
    font-weight: 600;
    color: $primari-color;
}
.product-wrapper{
    min-height: 450px;
}
.card{
    position: relative;
    min-height: 200px;
    &:hover {
        z-index: 3;
        cursor: pointer;
        box-shadow: 0 7px 10px rgba(101,101,101,0.16);
        .btn-card{
            display: block;

        }
    }
}
.btn-card{
    
}
nav{
    a{
        text-transform: uppercase;
        font-weight: 700;
    }
    .dropdown-menu{
        a{
            font-weight: 600;
        }
    }
    .dropdown-item{
        font-size: 1.6rem;
    }
}
.member-list{
    font-size: 25px;
    font-weight: 600;
    display: block;
    a{
        display: block;
        margin: 10px 0;
        font-size: 16px;
        font-weight: 500;
    }
}
.control {
  width: 500px;
  height: 50px;
}
.checkbox-selected-all-option{
    width: 120px;
}.mr-10{
    margin-right:  10px;
}
.page-item-color{
    color:  black !important
}
//auth form
.auth-form{
height: 30vw;
align-items: center;
}
//footer
footer{
    @include backGroundBlack($theme:black)
}
.footer-wrapper{
    padding: 50px 0;
    ul{
        padding: 0;
    }
    li{
        list-style-type: none;
        color: $text-color;
        &:hover{ 
            color: $primari-color;
            cursor: pointer;
        }
    }
}
.btn-primary{
    position: absolute;
    font-size: 1.6rem;
    z-index: 2;
    bottom: 16px;
    right: 16px;
    width: 250px;
    display: none;
    background-color: $btn-color;
    border-radius: 42px;
    padding: 10px;
    &:hover{
        @include backGroundBlack($theme:$primari-color);
        
    }
}