@import 'variable';
h1 {
    color: $red-color;
}
.personal-item{
    margin-top: 20px;
}
nav{
    a{

        color: white !important;
    }
    .dropdown-menu{
        a{
            color: black !important;
        }
    }
}