h1 {
  color: black; }

.personal-item {
  margin-top: 20px; }

nav a {
  color: white !important; }

nav .dropdown-menu a {
  color: black !important; }

.member-list {
  font-size: 20px;
  font-weight: 600;
  display: block; }
  .member-list a {
    display: block;
    margin: 10px 0; }
