<div class="baner">
    <img src="https://img.freepik.com/premium-photo/male-hand-shows-thumb-up-through-small-scooter-tires-white-background-scooter-service-transport-white-bike-equipment-engine-motor-race-electric-new-detail_75939-1938.jpg" class="img-fluid" alt="Responsive image">
</div>