<footer class="space" >
    <div class="container">
        <div class="row">
            <div class="col col-lg-4">
                <div class="footer-wrapper">
                    <div class="footer_widget ">
                        <h5> Address</h5>
                        <p>
                            Address: 1234 Heaven Stress, Beverly Hill OldYork- United State of Lorem
                        </p>
                        <p>
                            Phone: 1234 5678 5576 – 4657 4657 4656
                        </p>
                    </div>
                </div>
            </div>
            <div class="col col-lg-4">
                <div class="footer-wrapper">
                    <div class="footer_widget ">
                        <h5>MY ACCOUNT</h5>
                        <ul>
                            <li>
                              About  
                            </li>
                            <li>
                              Advertising  
                            </li>
                            <li>
                              Contact  
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col col-lg-4">
                <div class="footer-wrapper">
                    <div class="footer_widget ">
                        <h5>PRODUCT</h5>
                        <ul>
                            <li>
                              About  
                            </li>
                            <li>
                              Advertising  
                            </li>
                            <li>
                              Contact  
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
