<div class="wrapper">
    <div class="products">
        <div class="row">
            <div class="col col-lg-12">
                <ul class="text-center">
                    <li class="item">
                        Bestsellers
                    </li>
                </ul>
            </div>
        </div>
        <div class="row no-gutters">
            {{#each data}}
                <div class="col col-lg-4 col-sm product-wrapper ">
                    <div class="card" style="width: 100%;">
                        <img class="card-img-top" src={{this.thum}} class="img-fluid" alt="Responsive image" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">{{this.title}}</h5>
                            <p class="card-text">500.000</p>
                            <a href="#" class="btn btn-primary btn-card">Add to card</a>
                        </div>
                    </div>
                </div>
            {{/each}}
        </div>
    </div>
</div>