<div class="mt-12">
    <div class="row">
        {{#each data}}
            <div class="col-lg-4 personal-item">
                <div class="card" style="width: 18rem;">
                    <a href='personal/{{this.slug}}'>
                        <img class="card-img-top" src={{this.thum}} alt="Card image cap">
                    </a>
                    <div class="card-body">
                        <h5 class="card-title">{{this.title}}</h5>
                        <p class="card-text">{{this.body}}</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
    
        {{/each}}
    </div>
</div>
